@font-face {
  font-family: "Meidinger";
  src: url("../../static/fonts/Book/Miedinger_-Book.otf") format("truetype");
}
:root {
  --color-pink: #ff002f;
  --color-cyan: #50e3c2;
  --color-violet: #7928ca;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tab-content {
  opacity: 0;
}
.tab-content.visible {
  opacity: 1;
}

body {
  background-color: rgb(20, 20, 20);
  font-family: "Meidinger", sans-serif;
}

.tColor1::after, .tColor2::after, .tColor3::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 25px;
  border-radius: 10%;
  background-color: transparent;
}

.active.tColor1 {
  background-color: #c4d7d1 !important;
}
.active.tColor1::after {
  background-color: #555555 !important;
}
.active.tColor1 i {
  color: #202020 !important;
}

.active.tColor2 {
  background-color: #fc9d33 !important;
}
.active.tColor2::after {
  background-color: #555555 !important;
}
.active.tColor2 i {
  color: #202020 !important;
}

.active.tColor3 {
  background-color: #ffee93 !important;
}
.active.tColor3::after {
  background-color: #555555 !important;
}
.active.tColor3 i {
  color: #202020 !important;
}

#navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto 1rem auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #3a3a3a;
  border-radius: 18px;
  height: 4.5rem;
  width: 450px;
}
#navigation .home {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
#navigation .home li {
  position: relative;
  padding: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #3a3a3a;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
#navigation .home li:nth-child(1):hover {
  background-color: #c4d7d1;
}
#navigation .home li:nth-child(1):hover .icon-title {
  opacity: 1;
  transform: translateY(-20px);
}
#navigation .home li:nth-child(1):hover .las, #navigation .home li:nth-child(1):hover .lab {
  color: #202020;
}
#navigation .home li:nth-child(2):hover {
  background-color: #fc9d33;
}
#navigation .home li:nth-child(2):hover .icon-title {
  opacity: 1;
  transform: translateY(-20px);
}
#navigation .home li:nth-child(2):hover .las, #navigation .home li:nth-child(2):hover .lab {
  color: #202020;
}
#navigation .home li:nth-child(3):hover {
  background-color: #ffee93;
}
#navigation .home li:nth-child(3):hover .icon-title {
  opacity: 1;
  transform: translateY(-20px);
}
#navigation .home li:nth-child(3):hover .las, #navigation .home li:nth-child(3):hover .lab {
  color: #202020;
}
#navigation .home li:nth-child(5):hover {
  background-color: #b3e093;
}
#navigation .home li:nth-child(5):hover .icon-title {
  opacity: 1;
  transform: translateY(-20px);
}
#navigation .home li:nth-child(5):hover .las, #navigation .home li:nth-child(5):hover .lab {
  color: #202020;
}
#navigation .home li:nth-child(6):hover {
  background-color: #52b2cf;
}
#navigation .home li:nth-child(6):hover .icon-title {
  opacity: 1;
  transform: translateY(-20px);
}
#navigation .home li:nth-child(6):hover .las, #navigation .home li:nth-child(6):hover .lab {
  color: #202020;
}
#navigation .home li:nth-child(7):hover {
  background-color: #fff6c7;
}
#navigation .home li:nth-child(7):hover .icon-title {
  opacity: 1;
  transform: translateY(-20px);
}
#navigation .home li:nth-child(7):hover .las, #navigation .home li:nth-child(7):hover .lab {
  color: #202020;
}
#navigation .home li .las, #navigation .home li .lab {
  font-size: 28px;
  color: #eee;
  transition: color 0.3s ease-in-out;
}
#navigation .home li .icon-title {
  position: absolute;
  top: -55%;
  z-index: 1;
  opacity: 0;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  font-size: 13px;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #3a3a3a;
  border-radius: 7px;
  padding: 5px;
  color: #bababa;
}
#navigation .home li .icon-title.ico-1 {
  left: 1px;
  margin: auto;
  pointer-events: none;
}
#navigation .home li .icon-title.ico-2 {
  left: -4px;
  margin: auto;
  pointer-events: none;
}
#navigation .home li .icon-title.ico-3 {
  left: -9px;
  margin: auto;
  pointer-events: none;
}
#navigation .home li .icon-title.ico-4 {
  left: -60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#navigation .home li .icon-title.ico-5 {
  left: -27px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#navigation .home li .icon-title.ico-6 {
  left: -50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
@keyframes pop-up {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
#navigation .home .bar-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navigation .home .bar-wrap .home-bar {
  width: 1px;
  height: 30px;
  margin: auto;
  border-radius: 1px;
  border: 0.06cm solid #3a3a3a;
}

.gradient-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(100px);
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.gradient-wrapper .gradient {
  position: absolute;
  border-radius: 100%;
  background: var(--color);
  opacity: var(--opacity);
  mix-blend-mode: overlay;
  animation-duration: 18s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}
.gradient-wrapper .gradient-1 {
  width: 700px;
  height: 700px;
  z-index: -2;
  left: 70%;
  top: 40%;
  animation-name: gradient-1;
}
.gradient-wrapper .gradient-2 {
  width: 600px;
  height: 600px;
  z-index: -1;
  left: 40%;
  top: 70%;
  animation-name: gradient-2;
  animation-direction: reverse;
}
.gradient-wrapper .gradient-3 {
  width: 500px;
  height: 500px;
  z-index: -3;
  left: 30%;
  top: 40%;
  animation-name: gradient-3;
}

@keyframes gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
  }
  to {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}
@keyframes gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
  }
  to {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}
@keyframes gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  to {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}
#tab1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tab1 .home-wrap {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 35%;
  margin: auto;
  display: flex;
  align-items: flex-start;
}
#tab1 .home-wrap-title {
  color: #eee;
}
#tab1 .home-wrap-title h1 {
  font-size: clamp(3rem, 4vw, 4.5rem);
  font-weight: 400;
}
#tab1 .home-wrap-title h3 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-weight: 400;
}

#tab2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#tab3 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}/*# sourceMappingURL=index.css.map */