@font-face {
    font-family: 'Meidinger';
    src: url('../../static/fonts/Book/Miedinger_-Book.otf') format('truetype');
}

@font-face {
    font-family: 'MeidingerBold';
    src: url('../../static/fonts/Bold/Miedinger_-Bold.otf') format('truetype');
}

:root {
    --color-pink: #ff002f;
    --color-cyan: #50e3c2;
    --color-violet: #7928ca;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.tab-content {
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}


body {
    background-color: rgb(20, 20, 20);
    font-family: 'Meidinger', sans-serif;
}


.body::-webkit-scrollbar {
    display: none;
}

.body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.tColor1,
.tColor2,
.tColor3 {
    &::after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 25px;
        border-radius: 10%;
        background-color: transparent;
    }
}

.active.tColor1 {
    background-color: #c4d7d1 !important;

    &::after {
        background-color: #555555 !important;
    }

    i {
        color: #202020 !important;
    }
}

.active.tColor2 {
    background-color: #fc9d33 !important;

    &::after {
        background-color: #555555 !important;
    }

    i {
        color: #202020 !important;
    }
}

.active.tColor3 {
    background-color: #ffee93 !important;

    &::after {
        background-color: #555555 !important;
    }

    i {
        color: #202020 !important;
    }
}

#navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto 1rem auto;
    z-index: 10;


    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid #3a3a3a;
    border-radius: 18px;
    height: 4.5rem;
    width: 450px;

    .home {
        position: fixed;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        li {
            position: relative;
            padding: 10px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 2px solid #3a3a3a;
            border-radius: 12px;
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;
            cursor: pointer;

            &:nth-child(1) {

                &:hover {
                    background-color: #c4d7d1;

                    .icon-title {
                        opacity: 1;
                        transform: translateY(-20px);
                    }

                    .las,
                    .lab {
                        color: #202020;
                    }
                }
            }

            &:nth-child(2) {
                &:hover {
                    background-color: #fc9d33;

                    .icon-title {
                        opacity: 1;
                        transform: translateY(-20px);
                    }

                    .las,
                    .lab {
                        color: #202020;
                    }
                }
            }

            &:nth-child(3) {
                &:hover {
                    background-color: #ffee93;

                    .icon-title {
                        opacity: 1;
                        transform: translateY(-20px);
                    }

                    .las,
                    .lab {
                        color: #202020;
                    }
                }
            }

            &:nth-child(5) {
                &:hover {
                    background-color: #b3e093;

                    .icon-title {
                        opacity: 1;
                        transform: translateY(-20px);
                    }

                    .las,
                    .lab {
                        color: #202020;
                    }
                }
            }

            &:nth-child(6) {
                &:hover {
                    background-color: #52b2cf;

                    .icon-title {
                        opacity: 1;
                        transform: translateY(-20px);
                    }

                    .las,
                    .lab {
                        color: #202020;
                    }
                }
            }

            &:nth-child(7) {
                &:hover {
                    background-color: #fff6c7;

                    .icon-title {
                        opacity: 1;
                        transform: translateY(-20px);
                    }

                    .las,
                    .lab {
                        color: #202020;
                    }
                }
            }

            .las,
            .lab {
                font-size: 28px;
                color: #eee;
                transition: color 0.3s ease-in-out;
            }

            .icon-title {
                position: absolute;
                top: -55%;
                z-index: 1;
                opacity: 0; //0
                width: fit-content;
                white-space: nowrap;
                font-size: 13px;
                transform: translateY(-10px);
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                background-color: rgba(30, 30, 30, 0.6);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border: 2px solid #3a3a3a;
                border-radius: 7px;
                padding: 5px;
                color: #bababa;

                &.ico-1 {
                    left: 1px;
                    margin: auto;
                    pointer-events: none;
                }

                &.ico-2 {
                    left: -4px;
                    margin: auto;
                    pointer-events: none;
                }

                &.ico-3 {
                    left: -9px;
                    margin: auto;
                    pointer-events: none;
                }

                &.ico-4 {
                    left: -60px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                }

                &.ico-5 {
                    left: -27px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                }

                &.ico-6 {
                    left: -50px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                }
            }

            @keyframes pop-up {
                0% {
                    opacity: 0;
                    transform: translateY(0%);
                }

                100% {
                    opacity: 1;
                    transform: translateY(100%);
                }
            }
        }

        .bar-wrap {
            display: flex;
            align-items: center;
            justify-content: center;

            .home-bar {
                width: 1px;
                height: 30px;
                margin: auto;
                border-radius: 1px;
                border: 0.06cm solid #3a3a3a;

            }
        }
    }
}

.gradient-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(100px);
    opacity: 0.5;
    user-select: none;
    pointer-events: none;

    .gradient {
        position: absolute;
        border-radius: 100%;
        background: var(--color);
        opacity: var(--opacity);
        mix-blend-mode: overlay;
        animation-duration: 18s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
    }

    .gradient-1 {
        width: 700px;
        height: 700px;
        z-index: -2;
        left: 70%;
        top: 40%;
        animation-name: gradient-1;
    }

    .gradient-2 {
        width: 600px;
        height: 600px;
        z-index: -1;
        left: 40%;
        top: 70%;
        animation-name: gradient-2;
        animation-direction: reverse;
    }

    .gradient-3 {
        width: 500px;
        height: 500px;
        z-index: -3;
        left: 30%;
        top: 40%;
        animation-name: gradient-3;
    }
}

@keyframes gradient-1 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }

    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
    }

    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }

    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
    }

    to {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
}

@keyframes gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }

    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
    }

    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }

    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
    }

    to {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
}

@keyframes gradient-3 {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }

    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
    }

    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
    }

    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }

    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }

    to {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
}


#tab1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    .home-wrap {
        position: relative;
        width: 90%;
        max-width: 1000px;
        height: 50%;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        &-title {
            color: #eee;
            border: 2px solid #3a3a3a;
            background-color: rgba($color: #000000, $alpha: 0.4);
            padding: 3rem;
            border-radius: 22px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            text-align: center;
            line-height: clamp(3.5rem, 4vw, 4.5rem);

            h1 {
                font-size: clamp(1.8rem, 2.3vw, 3rem);
                font-family: 'MeidingerBold', sans-serif;
                font-weight: 500;
                // text-overflow: none;

                .orange {
                    background-color: rgba(255, 166, 0, 0.8);
                    border-radius: 10px;
                    padding: 0.2rem 0.4rem;
                }

                .blue {
                    background-color: rgba(255, 109, 64, 0.8);
                    padding: 0.4rem 0.4rem;
                    border-radius: 10px;
                    // text-size-adjust: 100%;
                    white-space: nowrap;
                }

                .purple {
                    background-color: rgba(35, 64, 143);
                    padding: 0.2rem 0.4rem;
                    border-radius: 10px;
                }
            }
        }
    }
}

#tab2 {

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects-wrap {
        display: flex;
        justify-content: center;
        gap: 3rem;
        position: relative;
        width: auto;
        height: auto;
        max-width: 1000px;
        margin: auto;

        &-entry {
            width: 23rem;
            height: auto;
            color: #eee;
            border: 2px solid #3a3a3a;
            background-color: rgba($color: #000000, $alpha: 0.3);
            padding: 0.8rem;
            border-radius: 22px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            text-align: left;

            #project-preview {
                display: flex;
                margin: auto;
                position: relative;
                max-width: 21rem;
                border-radius: 14px;
                padding: 0rem;
                // border: 4px solid #3a3a3a;
            }

            .project-content {
                display: flex;
                flex-direction: column;
                position: relative;
                left: 0rem;
                bottom: 0rem;

                .project-wrap-bottom {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

            }

            .project-wrap-title-name {
                padding-top: 1rem;
                font-size: clamp(1rem, 3.5vw, 2rem);
            }


            .project-wrap-title-desc {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                opacity: 0.6;
                font-size: clamp(0.6rem, 1.1vw, 1.2rem);
                letter-spacing: 0.3px;
                font-weight: 400;
            }


            .project-wrap-tags {
                display: flex;
                padding: 0;
                max-height: 1.6rem;
                gap: 0.5rem;
            }

            .project-wrap-tags-rect {
                pointer-events: none;
                height: fit-content;
                display: flex;
                align-items: center;
                color: #eee;
                border: 2px solid #3a3a3a;
                background-color: rgba($color: #000000, $alpha: 0.3);
                padding: 0.6rem 0.5rem 0.5rem;
                border-radius: 10px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                font-size: clamp(0.7rem, 0.8vw, 1rem);
                font-weight: bold;
                text-transform: uppercase;

                &-a {
                    @extend .project-wrap-tags-rect;
                    pointer-events: auto;
                    cursor: pointer;

                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

                    svg {
                        transition: stroke 0.3s ease-in-out;
                    }

                    &:hover {
                        background-color: #eee;
                        color: #202020;
                        border: 2px solid #eee;

                        svg {
                            stroke: #202020;
                        }
                    }
                }
            }

            .link-arrow {
                position: absolute;
                right: 0;
                height: 1rem;
                display: flex;
                align-items: center;
                color: #eee;
                border: 2px solid #3a3a3a;
                background-color: rgba($color: #000000, $alpha: 0.3);
                padding: 0.6rem;
                border-radius: 10px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                font-size: 0.6rem;
                font-weight: bold;
                // text-align: center;
                // line-height: clamp(3rem, 3.5vw, 1rem);

                .arrow-text {
                    position: relative;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}


#tab3::-webkit-scrollbar {
    display: none;
}


#tab3 {
    position: absolute;
    width: 100%;
    max-width: 1600px;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    z-index: 2;


    .about-left-right-wrap::-webkit-scrollbar {
        display: none;
    }

    .about-left-right-wrap {
        width: 100%;
        // max-height: 2rem;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        gap: 1.5rem;

        overflow: hidden;



        .about- {
            pointer-events: none;
            height: 1rem;
            display: flex;
            align-items: center;
            color: #eee;
            border: 2px solid #3a3a3a;
            background-color: rgba($color: #000000, $alpha: 0.3);
            padding: 0.6rem;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            font-size: 0.6rem;
            font-weight: bold;
            // text-align: center;
            // line-height: clamp(3rem, 3.5vw, 1rem);

        }


        .center-wrapper {
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;
            display: flex;
            flex-direction: row;
            // background-color: red;
            // width: 40rem
        }


        .about-wrap-left::-webkit-scrollbar {
            display: none;
        }
        .about-wrap-left {
    overflow: hidden;

            .about-wrap-left-main {
                display: flex;
                align-content: center;
                flex-direction: row;
                padding-bottom: rem;

                .about-wrap-left-wrapper {

                    .about-image img {
                        overflow: hidden;

                        position: relative;
                        opacity: 0.9;
                        max-height: 20rem;
                        margin: auto;
                        border-radius: 30px !important;
                        border: 2px solid #3a3a3a;
                        background-color: rgba($color: #000000, $alpha: 0.3);
                        padding: 0.6rem;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        font-size: 0.6rem;
                    }

                    .name-about-wrap {
                        // background-color: white !important;  
                        position: relative;
                        // display: flex;
                        // flex-direction: row;    
                        // align-items: center;

                        max-height: 1.6rem;
                        max-width: 100%;
                        text-align: center;
                        white-space: nowrap;

                        pointer-events: none;

                        color: white;
                        border: 1px solid #3a3a3a;
                        background-color: rgba($color: #000000, $alpha: 0.3);
                        padding: 0.6rem;
                        border-radius: 10px;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        font-size: 1.1rem;
                        font-weight: bold;



                    }
                }

                .about-wrapper-wrapper {
                    .about-tag-rect img {
                        max-width: 1.1rem;
                        bottom:0.5px;

                    }
                    .about-tag-wrap {

                        display: flex;

                        left: 1.2rem;
                        bottom: 1.2rem;
                        position: absolute;
                        justify-content: space-evenly;

                        max-height: 1.6rem;
                        max-width: fit-content;
                        gap: 8px;

                        .abt-svg {
                            opacity: 0.85;
                            padding-right: 5px;
                            max-height: 14px;
                            position: relative;
                            // background-color: white;

                            // left: 0rem;
                            // max-width: 45%;
                            // background-color: white;
                            // transform: translateY(4.5px);
                            // padding-right: 10px;

                        }
                    }


                    .about-tag-rect {
                        display: flex;
                        flex-direction: row !important;
                        width: fit-content;
                        pointer-events: none;
                        height: 1rem;
                        display: flex;
                        align-items: center;
                        color: #eee;
                        border: 2px solid #3a3a3a;
                        background-color: rgba($color: #000000, $alpha: 0.3);
                        padding: 0.6rem;
                        border-radius: 10px;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        font-size: 0.6rem;
                        font-weight: bold;
                        text-align: center;
                        // line-height: clamp(3rem, 3.5vw, 1rem);

                    }


                }




            }







            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0;
            overflow: hidden;

            &-main {
                width: 100%;
                height: 50%;
                color: #eee;
                border: 2px solid #3a3a3a;
                background-color: rgba($color: #000000, $alpha: 0.4);
                padding: 3rem;
                border-radius: 22px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                text-align: center;
                line-height: clamp(3.5rem, 4vw, 4.5rem);

                &.main-fixed {
                    position: sticky;
                    height: 50vh;
                    width: 40%;
                    left: 8.5%;
                    max-width: 600px;
                }
            }
        }

        .about-wrap-right::-webkit-scrollbar {
            display: none;
        }

        .about-wrap-right {
            height: 100%;
            width: 40%;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .about-wrap-body {
                display: flex;
                flex-direction: column;
                // max-height: 100%;

                .about-more {
                    line-height: 1.4rem;
                    flex-direction: column;
                    text-align: left;
                    text-indent: 2rem;
                }

                .skills-icons {
                    // background-color: white;
                    display: flex;
                    margin: auto;
                    flex-direction: row;
                    gap: 6px;
                    padding-top: 1.2rem;
                

                .svg-wrapper {
                    display: flex;
                    flex-direction: column;
                }
                .svg-wrapper img {
                    border-radius: 8px !important;
                    // border: 4px solid #3a3a3a;
                    // transform: scale(0.2);


                    border: 2px solid #3a3a3a;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    padding: 0.25rem;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    font-size: 0.6rem;



                    max-width: 2.5rem;
                    max-height: 2.5rem;

                    .skills-ico img {
                        // background-color: white;

                        max-width: 2rem;
                    }
                }
                }







                width: 100%;
                height: fit-content;

                display: flex;
                align-items: left;
                justify-content: top;

                color: #eee;
                border: 2px solid #3a3a3a;
                background-color: rgba($color: #000000, $alpha: 0.4);
                padding: 1rem;
                margin-bottom: 1.5rem;
                border-radius: 22px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                text-align: center;
                line-height: clamp(3.5rem, 4vw, 4.5rem);

                &:nth-last-child(1) {
                    margin-bottom: 7rem;
                }

                .about-title {
                    pointer-events: none;
                    height: 2rem;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    color: white;
                    border: 1px solid #3a3a3a;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    padding: 0.6rem;
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    font-size: 1.1rem;
                    font-weight: bold;
                }


                .experience-wrapper {
                    position: relative;
                    margin-top: 1rem;
                    pointer-events: none;
                    height: 36rem;
                    // width: 100%;
                    display: flex;
                    justify-content: center; /* Center children horizontally */
                    align-items: center; /* Center children vertically */
                    color: white;
                    border: 1px solid #3a3a3a;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    padding: 0.6rem;
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    font-size: 1.1rem;
                    font-weight: bold;
                



                    .experience-image-ico {
                    position: relative;

                        display: flex;
                        align-items: center; /* Center the image vertically */
                        padding-top: 1.5rem;
                    }

                    .experience-title {
                    position: relative;

                        margin-top: 1rem;
                        pointer-events: none;
                        height: fit-content;
                        line-height: 8px;
                        text-align: center;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        color: white;
                        border: 1px solid #3a3a3a;
                        background-color: rgba($color: #000000, $alpha: 0.3);
                        padding: 0.6rem;
                        border-radius: 10px;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        font-size: 1.1rem;
                        font-weight: bold;  
                        // opacity: 0.5;
    
                    }


                    .experience-description {
                    position: relative;

                        margin-top: 1rem;
                        pointer-events: none;
                        height: fit-content;
                        line-height: 8px;
                        text-align: center;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        color: white;
                        // border: 1px solid #3a3a3a;
                        // background-color: rgba($color: #000000, $alpha: 0.3);
                        padding: 0.6rem;
                        border-radius: 10px;
                        backdrop-filter: blur(10px);
                        // -webkit-backdrop-filter: blur(10px);
                        font-size: 1.1rem;
                        font-weight: bold;  
                        // opacity: 0.5;
    
                    }

                    .experience-text {
                    position: relative;

                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        // line-height: 8px;
                        text-align: center;
                        // width: 2rem;
                        color: white;
                        // background-color: red;
                        // border: 1px solid #3a3a3a;
                        // background-color: rgba($color: #000000, $alpha: 0.3);
                        // padding: 0.6rem;
                        border-radius: 10px;
                        // backdrop-filter: blur(10px);
                        // -webkit-backdrop-filter: blur(10px);
                        // font-size: 1.1rem;
                        // font-weight: bold;  
                        // opacity: 0.5;
                        position: fixed;
                        inset: 15px;
                        // width: 10rem;
                        // height: 5rem;
                        // max-width: 100vw;
                        // max-height: 100dvh;
                        // margin: auto;
                        padding-left: 10vw;
                        padding-top: 1vh;


                        .experience-title {
                    position: relative;

                            // background-color: blue;
                        }
                        .experience-description {
                            position: relative;
                            overflow: hidden;
                            // background-color: green;
                            line-height: 1.4rem;
                            flex-direction: column;
                            text-align: left;
                            // text-indent: 2rem;
                            font-size: 0.9rem;
                            width: 21vw;
                        }
                    }



                    .company-wrapper{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        // left: 1vw;
                        

                        .experience-company {
                            position: relative;
                            // margin-top: rem;
                            // bottom:3.2rem;
                            // right: 7.4rem;
                            pointer-events: none;
                            height: fit-content;
                            // line-height: 8px;
                            text-align: center;
                            width: 10vw;
                            display: flex;
                            align-items: center;
                            color: white;
                            // border: 1px solid #3a3a3a;
                            // background-color: rgba($color: #000000, $alpha: 0.3);
                            padding: 0.6rem;
                            // border-radius: 10px;
                            // backdrop-filter: blur(10px);
                            -webkit-backdrop-filter: blur(10px);
                            margin-left: 0.5rem;
                            font-size: 1.1rem;
                            font-weight: bold;  
                            // opacity: 0.5;
        
                        }


                        .experience-image-ico img {
                    position: relative;

                            // background-color: white;
                            // max-width: 10vw;
                            margin: 0;
                            max-height: 10rem;
                            // background-color: red;
                            margin-right: 24.5rem;
                        }
                    }

                }






            }
        }
    }
}






@media (max-width: 780px) {
    .about-wrap-right::-webkit-scrollbar {
        display: none;
    }




















    #navigation {
        position: fixed;
        max-width: 90%;
    }

    #tab2 {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;

        .projects-wrap {
            position: relative;
            top: 10%;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            width: 50%;
            max-width: 1000px;
            height: 100%;
            margin: auto;

            &-entry {
                margin-top: 4rem;
                width: 23rem;
                height: 28.4rem;
                color: #eee;
                border: 2px solid #3a3a3a;
                background-color: rgba($color: #000000, $alpha: 0.3);
                padding: 0.8rem;
                border-radius: 22px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                text-align: left;
                // line-height: clamp(3rem, 3.5vw, 4rem);
                margin-bottom: -4rem;

                :nth-child(3) {
                    margin-bottom: 10rem;
                }


                #project-preview {
                    display: flex;
                    margin: auto;
                    position: relative;
                    max-width: 21rem;
                    border-radius: 14px;
                    padding: 0rem;
                    // border: 4px solid #3a3a3a;
                }

                .project-content {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    left: 0rem;
                    bottom: 0rem;

                    .project-wrap-bottom {
                        // background-color: red;
                        max-width: fit-content;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        .project-wrap-tags-rect {
                            min-height: 2rem;
                        }

                        .project-wrap-tags-rect-a {
                            position: absolute;
                            right: 0.2rem;
                            pointer-events: all;

                        }



                    }
                }

                .project-wrap-title-name {
                    padding-top: 1rem;
                    font-size: 1rem;
                    // line-height: clamp(3rem, 3.5vw, 1rem);
                }

                .project-wrap-title-desc {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;

                    opacity: 0.6;
                    font-size: 0.6rem;
                }

                .project-wrap-tags {

                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: row;


                    max-height: 1.6rem;
                    max-width: fit-content;
                    gap: 8px
                }

                .project-wrap-tags-rect {
                    pointer-events: none;
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    color: #eee;
                    border: 2px solid #3a3a3a;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    padding: 0.6rem;
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    font-size: 0.6rem;
                    font-weight: bold;
                    // text-align: center;
                    // line-height: clamp(3rem, 3.5vw, 1rem);




                }

                .link-arrow {
                    position: absolute;
                    right: 0;
                    height: 1rem;
                    display: flex;
                    align-items: center;
                    color: #eee;
                    border: 2px solid #3a3a3a;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    padding: 0.6rem;
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    font-size: 0.6rem;
                    font-weight: bold;
                    // text-align: center;
                    // line-height: clamp(3rem, 3.5vw, 1rem);

                    #arrow-text {
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}