

.dg.main.a {
    opacity: 0;
  }


  #containerish {
    opacity: 0.1 !important;
  }

  #containerish canvas {
    top: 0rem;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
  }



